.news-content {

    .container {
        padding-top: 135px;
        padding-bottom: 65px;
        display: grid;
        column-gap: 142px;
        row-gap: 70px;
        grid-template-columns: auto;
        grid-template-areas:    "titles"
                                "left";

        @media (min-width: 992px) {
            grid-template-columns: 2fr 1fr;
            grid-template-areas:    "titles titles"
                                    "left right";
        }
        
        .titles {
            grid-area: titles;

            h2 {
                font-size: 30px;

                @media (min-width: 576px) {
                    font-size: 45px;
                }
            }

            .titles-bottom {
                display: flex;
                justify-content: start;
                gap: 30px;

                i {
                    margin-top: 6px;
                    color: #F9D783;
                    font-size: 10px; 
                }
            }
        }  
        
        .news-content-left {
            grid-area: left;
            
            img {
                width: 100%;
                max-width: 100vw;
            }

            p {
                margin-top: 50px;
                color: #5E5E5E;
                line-height: 28px;
            }

            .news-category-box {
                display: flex;
                justify-content: start;
                
                p {
                    padding: 10px 50px;
                    background-color: #F3F3F3;
                    border-radius: 30px;
                    font-weight: 500;
                }
            }
        }

        .news-content-right {
            display: none;

            @media (min-width: 992px) {
                display: grid;
                grid-area: right;
            }
           

            .news-content-searchfield {
                margin-bottom: 40px;
                position: relative;
                z-index: 0;
                
                input {
                    background-color: #F3F3F3;
                    border: none;
                    border-radius: 30px;
                    width: 420px;
                    height: 56px;
                    color: #858585;
                    padding-left: 60px;
                }

                i {
                    color: #191919;
                    position: absolute;
                    left: 35px;
                    top: 19px;
                    z-index: 1;
                    font-size: 110%;
                }
            }

            .news-content-posts {
                padding: 48px 41px 20px 41px;
                border: 1px solid #D1D1D1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 40px;

                .title {
                    margin-bottom: 30px;
              
                    span {
                        border-bottom: 2px solid #191919;
                    }
                }
              
                .post-details {
                    border-bottom: 1px solid #E7E7E7;
                    margin-bottom: 23px;
              
                    &#post3 {
                        border-bottom: none;
                    }
              
                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 700;
                        font-family: 'DM Sans', sans-serif;
                        transition: color 0.1s ease-in-out;
                
                        &:hover {
                        color: #9b9b9b;
                        }
                    }
                
                    .post-details-date {
                        font-weight: 400;   
                        font-size: 14px;
                        font-family: 'Inter', sans-serif;
                        margin-top: 8px;
                    }
                }   
            }

            .news-categories {
                border: 1px solid #D1D1D1;
                padding: 48px 41px;
                
                p {
                    font-weight: 700;
                }

                span {
                    border-bottom: 2px solid #191919;
                }

                .news-categories-content {
                    margin-top: 30px;

                    span {
                        font-weight: 400;
                        border-bottom: none;
                    }
                }  
            }
        }  
    }
}


