.news-page-grid {
    padding-top: 12px;
    padding-bottom: 0;
    
    h2 {
        margin-bottom: 40px;
    }

    .site-number {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-top: 70px;
        }
    }
}